body {
    background-color: rgb(23, 23, 223);
  }
  p {
    font-family: Arial;
    font-size: 10pt;
    margin-left: 0.125in;
  }
  #lumpy {
    display: none;
  }

  #t-daddy {
    border: 1px solid red;
  }
  #c1 {
    background-color: pink;
  }

  #d1 {
    margin-left: 10px;
    background-color: rgb(173 216 230);
    height: 20px;
    max-width: 20px;
  }

  li {
    margin: 15px;
    padding: 50px;
    color: blue;
    background-color: aliceblue;
    font: 100;
    border-radius: 54px;
    right: auto;
    left: auto;
  }

  p {
    margin: 10px;
    padding: 20px;
    syntax: error;
    color: red;
    background-color: aliceblue;
    color-scheme: align-items: flex-start;;

  }

